
.logo{
    margin-top: 10px;
}

section{
    width: 100%;
    position: relative;
    margin-top: 50px;
    height: 500px;
    overflow: hidden;
}

.font-mtkg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.font-mtkg img{
    width: 100%;
    height: 100%;
}

.content{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
}


.main{
    width: 350px;
    height: 100%;
    position:absolute;
    top:20%;
    left: 20%;
    z-index: 1;
}



.content>div:nth-child(2){
    position:absolute;
    top: 90px;
    left: 10%;
    
}

.content>div:nth-child(3){
    position:absolute;
    top:20px;
    left: 60%;
    
}

.content>div:nth-child(4){
    position:absolute;
    top:40%;
    left: 60%;
    
}


.main div:nth-child(1){
    position:absolute;
    top:0;
    left: 0;
    z-index: 2;
}

.main div:nth-child(2){
    position:absolute;
    top:0;
    left: 80%;
    z-index: 1;
}
.main div:nth-child(3){
    position:absolute;
    top: 52%;
    left: 82%;
}

@media screen and (max-width:700px) {
    
    .main{
        left: 0;
    }
    footer{
        display: block;
    }
}

footer {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
}