/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/




/* main */
/* floor_electric */

section {
    margin-top: 50px;
}


.floor {
    display: flex;
    margin-top: 66px;
    flex-direction: column;
}

.floor_good_hd {
    height: 48px;
}

.floor_good_hd h3 {
    float: left;
    color: #666666;
    font-size: 24px;
    font-weight: 700;
}

.floor_good_hd i {
    color: #008ecc;
}


.floor_good_hd a i {
    font-size: 18px;
    margin-left: 8px;
}

.floor_good_hd h3 span {
    position: relative;
}



.floor_good_hd span::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -20px;
    left: 0;
    width: 88%;
    height: 5px;
    border-radius: 5px;
    background-color: #008ecc;
}

.floor_good {
    margin-top: 25px;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.goods li {
    display: flex;
    margin: 18px 5px;
    width: 225px;
    height: 295px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 8px 5px 2px 1px #939393;
    transition: all .5s;
}

.goods li a {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid #ededed;
    border-radius: 15px;
}

.goods li:hover{
    transform: translateY(-30px);
}

.goods .picture {
    flex: 2;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-color: #f5f5f5;
}

.off {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -1px;
    right: -3px;
    width: 50px;
    height: 50px;
    border-radius: 0 10px 0 10px;
    background-color: #008ecc;
}

.off p {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
}

.pic_box {
    width: 100%;
    text-align: center;
    line-height: 120px;
    /* width: 100px; */
    height: 120px;
}

.pic_box img {
    height: 100%;
}


.desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: #000;
    padding: 0 12px;
}

.good_title,
.previous_price,
.price {
    flex: 1;
    padding-top: 8px;
}

.desc s {
    font-weight: 200;
}

.price {
    border-top: 2px solid #ededed;
    color: #2b9e44;
}

.sin_stock{
    color: red;
}


/* floor tables  */

.table-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table_goods {
    margin-top: 50px;
}

.table-list li{
    margin: 18px 5px;
}

.table-list li a {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 255px;
    transition: all .3s;
}

.table-list li a:hover {
    transform: scale(1.1);
}

.table-list .pic_box {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    background-color: #f5f5f5;

}

.subscriptions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscriptions p {
    color: #222;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.subscriptions p:first-child {
    font-size: 16px;
    color: #666;
}



.table-list .pic_box img {
    height: 60%;

}



/* floor top electronic models */
.electronics_models {
    display: flex;
    position: relative;
    height: 260px;
    overflow: hidden;
}

.models_focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    margin-top: 20px;
    overflow: hidden;
}

.models_focus li {
    float: left;
    width: 390px;
    height: 210px;
    margin: 0 5px;
    border-radius: 15px;
}

.models_focus li a{
    display: block;
    width: 100%;
    height: 100%;
}

.models_focus img {
    width: 100%;
    height: 100%;
}


.focus_circle {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    margin-top: 30px;
}

.focus_circle li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.focus_circle .current {
    width: 25px;
    background-color: #008ecc;
}




@media screen and (max-width:1200px) {

    .goods,
    .table-list {
        justify-content: space-around;
    }

    .arrow-l,
    .arrow-r {
        width: 85px;
        height: 85px;
    }

    .arrow-l a,
    .arrow-r a {
        line-height: 65px;
        width: 65px;
        height: 65px;
    }
    .circle li{
        width: 8px;
        height:8px;
        border-radius: 8px;
    }

    .floor_good_hd h3{
        font-size: 20px;
    }


}

@media screen and (min-width:1280px) {

    .goods,
    .table-list {
        justify-content: space-between;
    }

}






