/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/
/* © 2023 All rights reserved. Grupo Cac. Trabajo en Grupo: EAugusto Roman,  Ignacio Perez, Smith Guo y Ariel Cuenca*/


/*NOSOTROS.HTML*/

*{
    box-sizing: border-box;
    margin: 0;
}



.container {
margin: auto;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;

}
.section_2{
width: 100%;
margin: auto;
padding: 100px 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.section_2-title{
    font-family: 'icomoon';
    font-size: 40px;
    color: #666666;
    font-weight: bold;
    padding: 10px;
}
.us{
display: flex;
margin: auto;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.us-text{
width: 50%;
padding: 0 100px 0 0;
min-width: 350px;
}
.us-paragraph{
    
    font-family: 'icomoon';
    font-size: 18px;
    color: #666666;
    padding: 10px;
    text-align: justify;
}
.paragraph-text{
padding: 10px;
}
.us-img{
width: 45%;
min-width: 350px;
}
.img-img{
object-fit: cover;
width: 100%;
border-radius: 5px;
}

/* map */
gmp-map {
    height: 500px;
}


/* floor */

.floor {
    display: flex;
    margin-top: 66px;
    flex-direction: column;
}

.floor_good_hd {
    height: 48px;
}

.floor_good_hd h3 {
    float: left;
    color: #666666;
    font-size: 24px;
    font-weight: 700;
}


.floor_good_hd a i {
    font-size: 18px;
    margin-left: 8px;
}

.floor_good_hd h3 span {
    position: relative;
}



.floor_good_hd span::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: -20px;
    left: 0;
    width: 88%;
    height: 5px;
    border-radius: 5px;
    background-color: #008ecc;
}

/*media q*/
@media (max-width: 900px) {
    .container{
        padding:10px ;
    }
}

@media (max-width: 600px) {
    .us-text, .us-img {
        width: 90%;
    }
    .container{
        padding:0px ;
    }
}


@media screen and (min-width:1100px){
    .w{
        width: 1000px;
    }
}

@media screen and (min-width:1200px){
    .w{
        width: 1200px;
    }
}